{# templates/login.html #}

{% if erro == 1 %}
    Errou a senha burrão HAHAHHAHAHAHAHAHAHHA 😂😂🤣🤣 cuzão
    {% elseif erro == 2 %}
    Uai so, quer entrar no terreno que não te pertence né cabaço 🤠🤭
{% endif %}
<form action="login_verify.php" method="post">
    <div>
        <input type="text" name="user" placeholder="Nome de usuário">
    </div>
    <div>
        <input type="password" name="pass" placeholder="Senha">
    </div>
    <div>
        <input type="submit" value="Acessar">
    </div>

    <div>
        <a href="recuperar_senha.php">Esqueci minha senha</a>
    </div>
</form>