{% include "inc/head.html" %}

<h3>Idiotas</h3>
<p>Listagem dos imbecís:</p>

<table border= 1px solid black>
<tr>
<th>Usuários</th>
<th>Admin</th>
<th>Ativo</th>
</tr>

{%for usr in usuarios%}
<tr>
<td><a href="usuario_ver.php?id={{usr.id}}">{{usr.username}}</a></td>
<td>{{usr.admin}}</td>
<td>{{usr.ativo}}</td>
<td><a href="usuario_apagar.php?id={{usr.id}}">Moer na porrada</a></td>
</tr>
{%else%}
<tr>
<td colspan = 2>Nenhum Idiota</td>
</tr>
{%endfor%}
</table>

<a type="submit" href="novo_u.php">Adicionar</a>




{% include "inc/foot.html" %}