{% include "inc/head.html" %}

<h1>Apagar idiota</h1>

<p>Você tem certeza que deseja tirar um imbecil do teu site?</p>
<p>Isso não poderá ser desfeito 😶‍🌫️</p>

<p><strong>Você está prestes a apagar o inútil do {{ usuario.username }} 🤔</strong></p>

<img src="https://img2.gratispng.com/20180425/jsq/kisspng-crying-stock-photography-man-enterprise-rallying-cry-5ae0e1dc924f96.6162830815246873245993.jpg" width="500" height="320">

<form action="#" method="post">
    <input type="hidden" name="id" value="{{usuario.id}}">
    <input type="submit" value="🐘💨">
</form>

<div><a href="usuarios.php">Cancelar</a></div>



{% include "inc/foot.html" %}